<%- model_class = Entitlement -%>
<div class="page-header">
  <h1><%= @entitlement.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>IP Address:</strong></dt>
  <!-- AWS KEY REQUIRED
  <dd><%#= @instance.ip_address %>&nbsp;</dd>
  -->
  <!-- TESTING - NO KEY -->
  <dd><%= @entitlement.ip_address %>&nbsp;</dd>
  <!-- DONE -->
  <dt><strong>Instance ID:</strong></dt>
  <dd><%= @entitlement.instance_id %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <!-- AWS KEY REQUIRED
  <dd><%#= @instance.status %>&nbsp;</dd>
  -->
  <!-- TESTING - NO KEY -->
  <dd><%= @entitlement.status %>&nbsp;</dd>
  <!-- DONE -->
  <dt><strong>Shutoff Time:</strong></dt>
  <dd> 
    <% if @entitlement.shutoff? %>
    <%= @entitlement.shutoff.in_time_zone("Eastern Time (US & Canada)").strftime("%b %e, %H:%M") %>
    <% end %>
    &nbsp;
  </dd>
  <dt><strong>AMI:</strong></dt>
  <dd><%= @entitlement.ami %></dd>
</dl>

<!-- AWS KEY REQUIRED -->
<%# if @instance.status.to_s != "stopped" %>
<!-- TESTING - NO KEY -->
<% if @entitlement.status != "stopped" %>
<!-- DONE -->
<div class="form-actions">
  <%= link_to image_tag("clock_plus_big.png"),
      {controller: "entitlements", action: "increment_runtime", id: @entitlement.id}, 
      class: "btn btn-success"  %>
  <%= link_to image_tag("clock_minus_big.png"),
      {controller: "entitlements", action: "decrement_runtime", id: @entitlement.id}, 
      class: "btn btn-danger"  %>
</div>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
  entitlements_path, :class => 'btn'  %>
  
  <!-- AWS KEY REQUIRED -->
  <%# if @instance.status.to_s == "stopped" %>
  <!-- TESTING - NO KEY -->
  <% if @entitlement.status == "stopped" %>
  <!-- DONE -->
  <%= link_to "Start", 
      {controller: "entitlements", action: "start", id: @entitlement.id}, 
      class: "btn btn-success" %>
  
  <% else %>
  <%= link_to "Stop", 
      {controller: "entitlements", action: "stop", id: @entitlement.id}, 
      class: "btn btn-warning" %>
  <%= link_to "Reboot", 
      {controller: "entitlements", action: "reboot", id: @entitlement.id}, 
      class: "btn btn-warning"  %>
  <% end %>
  
  <%= link_to "Terminate", entitlement_path(@entitlement), :method => :delete,
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
                                              :default => 'Are you sure?')) },
  :class => 'btn btn-danger' %>
</div>
