
<% @instances = get_instances(current_user.account.clouds) %>
<% @instances.each do |instance| %>

  <tr>
    <td><%= instance.name %></td>
    <td><%= format_turn_off_at instance.turn_off_at %></td>
    <td><%= instance.ip_address %></td>
    <td><%= instance.status %></td>

    <% if instance.status.to_s == "stopped" %>
      <td><%= link_to "Start", "#", class: 'btn btn-mini btn-success',
            id: "start-#{instance.name}", :data => { :id => instance.id }, :remote => true %></td>
      <td></td>
    <% elsif instance.status.to_s == "running" %>
      <td><%= link_to "Reboot", "#", class: 'btn btn-mini btn-warning',
	    id: "reboot-#{instance.name}", :data => { :id => instance.id }, :remote => true %></td>
      <td><%= link_to "Stop", "#", class: 'btn btn-mini btn-warning',
	    id: "stop-#{instance.name}", :data => { :id => instance.id }, :remote => true %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>

    <td>
      <%= link_to 'Terminate', cloud_path(instance.id),
	  method: :delete, data: { confirm: 'Are you sure?' },
	  :class => 'btn btn-mini btn-danger delete-cloud', :remote => true %>
    </td>
  </tr>
<% end %>






