<% @instances = get_instances(current_user.account.clouds) %>
<%= debug @instances %>

<% if false %>
<% current_user.account.clouds.each do |cloud| %>

<tr data-id="<%= cloud.id %>">
  <td><%= cloud.name %></td>
  <td><%= format_turn_off_at cloud.turn_off_at %></td>
  <td><%= @instance.ip_address %></td>
  <td><%= @instance.status %></td>

  <% if @instance.status.to_s == "stopped" %>
  <td><%= link_to "Start", "#", class: 'btn btn-mini btn-success',
          id: "start-#{cloud.name}", :data => { :id => cloud.id }, :remote => true %></td>
  <td></td>
  <% elsif @instance.status.to_s == "running" %>
  <td><%= link_to "Reboot", "#", class: 'btn btn-mini btn-warning',
	  id: "reboot-#{cloud.name}", :data => { :id => cloud.id }, :remote => true %></td>
  <td><%= link_to "Stop", "#", class: 'btn btn-mini btn-warning',
	  id: "stop-#{cloud.name}", :data => { :id => cloud.id }, :remote => true %></td>
  <% else %>
  <td></td>
  <td></td>
  <% end %>

  <td id="terminate-cloud" data-id="<%= cloud %>">
    <%= link_to 'Terminate', cloud,
	method: :delete, data: { confirm: 'Are you sure?' },
	:class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
<% end %>

<% end %>






