<div class="page-header">
  <h1>Control Panel</h1>
</div>

<div class="row">
  <div class="span3">
    <br/>
    <div class="kfrank-sidebar well">
      <h4>My Account</h4>
      <ul class="title-content-list">
	<li>
	  <div class="title">Time left:</div>
	  <div class="content"><%= format_minutes current_user.account.minutes %>
	  </div>
	</li>
	<li>
	  <div class="title">Instance Limit:</div>
	  <div class="content"><%= current_user.account.instance_limit %></div>
	</li>
	<li>
	  <div class="title">My IP:</div>
	  <div class="content"><%= current_user.current_sign_in_ip %></div>
	</li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Shutoff Time</th>
	  <th>IP</th>
	  <th>Status</th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>

      <tbody>
	<% current_user.account.clouds.each do |cloud| %>
	<tr>
	  <td><%= cloud.name %></td>
	  <td><%= format_turn_off_at cloud.turn_off_at %></td>
	  <td><%= get_instance_ip cloud.instance_id %></td>
	  <%= render partial: 'instance_actions', 
	      :locals => { :cloud => cloud } %>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="form-actions">
  <%= link_to "Launch Cloud", new_cloud_path, :class => 'btn btn-primary' %>
  <%= link_to "Download SSH Key", "/loud.pem", class: 'btn' %>
</div>
