<head>
  <%= javascript_include_tag params[:controller] %>
</head>

<div class="page-header">
  <h1>Control Panel</h1>
</div>

<div class="row">
  <div class="span3">
    <br/>
    <%= render 'my_account' %>
  </div>

  <div class="span9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Shutoff Time</th>
          <th>IP</th>
          <th>Status</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
          <th></th>
          <th><%= link_to image_tag("refresh.png", size: "25x25", id: "refresh"), 
		  control_panel_refresh_path, id: 'refresh_instances',
		  :data => { :png => image_path("refresh.png"), :gif => image_path("refresh.gif") },
		  class: 'btn btn-mini', :remote => true %></th>
        </tr>
      </thead>  

      <tbody class="instances">
	<%= render 'my_instance_list' %>
      </tbody>
    </table>
    
    <div class="alert cloud-msgs-container" style="display: none">
      <p class="cloud-msgs"></p>
    </div>
  </div>
</div>



<div class="row">
  <div class="span9">
    <h4>Instructions</h4>
    <p>
      You will need to generate a private SSH key to access any of
      your cLOUD instances. You will not be able to launch a cLOUD
      until you do so. SSH keys are used as a security measure so that
      only you will be able to access your instance. Once a key is
      generated for you it will automatically be downloaded to your
      PC. Do not share your private key with anyone. Also store your
      key carefully as you will only be allowed to download it once
      immediately after generation. You can generate a new key at any
      time but your old key will be deleted from AWS.
    </p>

    <p>
      Use that key to SSH to the IP address of your cLOUD instance.
      You will also need to SSH as the default user of your respective
      Linux distro.  The default user for Ubuntu is ubuntu and the
      user for fedora is - you guessed it - fedora.
    </p>

    <h4>Examples</h4>
    <p>$ ssh -i /path/to/my_key.pem ubuntu@[IP_OF_UBUNTU_CLOUD]</p>
    <p>$ ssh -i /path/to/my_key.pem fedora@[IP_OF_FEDORA_CLOUD]</p>
    <p>
      NOTE: you will most likely need to change the permissions of
      your SSH key for it to work as intended.  Use the following
      command to profit.
    </p>
    <p>$ chmod 600 /path/to/my_key.pem</p>

  </div>
</div>

<div class="form-actions">
  <%= link_to "Launch cLOUD", new_cloud_path, :class => 'btn btn-primary' %>
  <%= generate_keypair_link(current_user.login) %>
</div>
