
<head>
  <%= javascript_include_tag params[:controller] %>
</head>

<div class="page-header">
  <h1>Control Panel</h1>
</div>

<div class="row">
  <div class="span3">
    <br/>
    <%= render 'my_account' %>
  </div>

  <div class="span9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Shutoff Time</th>
          <th>IP</th>
          <th>Status</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
          <th></th>
          <th><%= link_to image_tag("refresh.png", size: "25x25", id: "refresh"), 
		  control_panel_refresh_path, id: 'refresh_instances',
		  class: 'btn btn-mini', :remote => true %></th>
        </tr>
      </thead>  

      <tbody class="instances">
	<%= render 'my_instance_list' %>
      </tbody>
    </table>
    
    <div class="alert cloud-msgs-container" style="display: none">
      <p class="cloud-msgs"></p>
    </div>
  </div>
</div>



<div class="row">
  <div class="span9">
    <h4>Instructions</h4>
    <p>
      You will need to download the LOUD SSH key to access any of your
      cLOUD instances.  Use that key to SSH to the IP address of your
      cLOUD instance.  You will also need to SSH as the default user
      of your respective Linux distro.  The default user for Ubuntu is
      ubuntu and the user for fedora is - you guessed it - fedora.
    </p>
    <h4>Examples</h4>
    <p>$ ssh -i /path/to/loud.pem ubuntu@IP_OF_UBUNTU_CLOUD</p>
    <p>$ ssh -i /path/to/loud.pem fedora@IP_OF_FEDORA_CLOUD</p>
    <p>
      NOTE: you will most likely need to change the permissions of
      your SSH key for it to work as intended.  Use the following
      command to profit.
    </p>
    <p>$ chmod 600 /path/to/loud.pem</p>
  </div>
</div>

<div class="form-actions">
  <%= link_to "Launch Cloud", new_cloud_path, :class => 'btn btn-primary' %>
  <%= link_to "Download SSH Key", download_key_path, class: 'btn' %>
</div>
