<div class="page-header">
  <h1>Control Panel</h1>
</div>

<div class="row">
  <div class="span3">
    <br/>
    <div class="kfrank-sidebar well">
      <h4>My Account</h4>
      <ul class="title-content-list">
	<li>
	  <div class="title">Time left:</div>
	  <div class="content"><%= format_minutes current_user.account.minutes %>
	  </div>
	</li>
	<li>
	  <div class="title">Instance Limit:</div>
	  <div class="content"><%= current_user.account.instance_limit %></div>
	</li>
	<li>
	  <div class="title">My IP:</div>
	  <div class="content"><%= current_user.current_sign_in_ip %></div>
	</li>
      </ul>
    </div>
  </div>

  <div class="span9">

    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Shutoff Time</th>
	  <th>IP</th>
	  <th>Status</th>
	  <th><%=t '.actions', :default => t("helpers.actions") %></th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>

      <tbody>
	<% current_user.account.clouds.each do |cloud| %>
	<tr>
	  <td><%= cloud.name %></td>
	  <td><%= format_turn_off_at cloud.turn_off_at %></td>
	  <%= content_tag "div", id: "instance_actions", data: {cloud: cloud.id} do %>
	    <%= render partial: 'instance_actions', 
		:locals => { :cloud => cloud } %>
	  <% end %>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span9">
    <h4>Instructions</h4>
    <p>
      You will need to download the LOUD SSH key to access any of your
      cLOUD instances.  Use that key to SSH to the IP address of your
      cLOUD instance.  You will also need to SSH as the default user
      of your respective Linux distro.  The default user for Ubuntu is
      ubuntu and the user for fedora is - you guessed it - fedora.
    </p>
    <h4>Examples</h4>
    <p>$ ssh -i /path/to/loud.pem ubuntu@IP_OF_UBUNTU_CLOUD</p>
    <p>$ ssh -i /path/to/loud.pem fedora@IP_OF_FEDORA_CLOUD</p>
    <p>
      NOTE: you will most likely need to change the permissions of
      your SSH key for it to work as intended.  Use the following
      command to profit.
    </p>
    <p>$ chmod 600 /path/to/loud.pem</p>
  </div>
</div>

<div class="form-actions">
  <%= link_to "Launch Cloud", new_cloud_path, :class => 'btn btn-primary' %>
  <%= link_to "Download SSH Key", download_key_path, class: 'btn' %>
</div>
