<div class="row">
  <h3>AMIs</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>AMI ID</th>
        <th>Size</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% amis.each do |ami| %>
      <tr>
        <td><%= ami.name %></td>
        <td><%= ami.imageId %></td>
        <td><%= ami.size %></td>
        <td><%= link_to "Show", ami, class: 'btn btn-mini' %></td>
        <td><%= link_to "Edit", edit_ami_path(ami), class: 'btn btn-mini' %></td>
        <td><%= link_to "Remove", ami, method: :delete,
                class: 'btn btn-mini btn-danger' %></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td><%= ami.description %></td>
        <td></td>
	<td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Create AMI</h3>
  <%= render 'amis/form' %>
</div>

</div>
