<% content_for :content do %>

<div class="row">
  <div class="span2">
    <div class="sidebar-nav-fixed">
      <ul class="nav nav-list">
	<li><%= link_to "Admin Home", admin_tools_path %></li>
	<li class="divider"></li>
	<li><%= link_to "AMIs", amis_path %></li>
	<li><%= link_to "Accounts", accounts_path %></li>
	<li><%= link_to "cLOUDs", clouds_path %></li>
      </ul>
    </div>
  </div>

  <div class="span10">
    <%= yield %>
  </div>
</div>

<% end %>

<%= render template: "layouts/application" %>

