<div class="page-header">
  <h1>Admin Tools: Accounts</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Runtime Hours</th>
      <th>Instance Limit</th>
      <th>Power User?</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
    <tr>
      <td><%= account.user.login %></td>
      <td><%= format_minutes current_user.account.minutes %></td>
      <td><%= account.instance_limit %></td>
      <td><%= account.power_user %></td>
      <td>
        <%= link_to t('.edit', :default => t("Edit Account")),
        edit_account_path(account), :class => 'btn btn-mini' %>
      </td>
      <td>
        <%= link_to t('.edit', :default => t("Edit Instances")),
        account_path(account), :class => 'btn btn-mini' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to "Back", admin_tools_path, :class => 'btn' %>
</div>
