<%- model_class = Account -%>
<div class="page-header">
  <h1><%= @account.user.login %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Shutoff time</th>
      <th>IP Address</th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @account.clouds.each do |cloud| %>
    <tr>
      <td><%= cloud.name %></td>
      <td><%= format_turn_off_at cloud.turn_off_at %></td>
      <td><%= get_instance_ip cloud.instance_id %></td>
      <%= render partial: 'control_panel/instance_actions',
              :locals => { :cloud => cloud } %>
    </tr>
    <% end %>
  </tbody>
</table>

<dl class="dl-horizontal">
  <dt><strong>Runtime Limit:</strong></dt>
  <dd>
    <%= current_user.account.minutes / 60 %>:<%= sprintf("%.2d",
		current_user.account.minutes % 60) %>
  </dd>
  <dt><strong>Instance Limit:</strong></dt>
  <dd><%= @account.instance_limit %></dd>
  <dt><strong>Power User?</strong></dt>
  <dd><%= @account.power_user %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              accounts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("Edit Account")),
              edit_account_path(@account), :class => 'btn' %>
</div>

