<%- model_class = Account -%>
<div class="page-header">
  <h1><%= @account.user.login %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>IP Address</th>
      <th>Status</th>
      <th>Shutoff time</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @entitlements.each do |entitlement| %>
    <% if entitlement.account_id == @account.id %>
    <!-- AWS KEY REQUIRED -->
    <%#= @instance = AWS::EC2.new.instances[entitlement.instance_id] %>
    <!-- DONE -->
    <tr>
      <td><%= entitlement.name %></td>
      <!-- AWS KEY REQUIRED --> 
      <% if false %>
      <td><%= @instance.ip_address %></td>
      <td><%= @instance.status %></td>
      <% end %>
      <!-- TESTING - NO KEY -->
      <td><%= entitlement.ip_address %></td>
      <td><%= entitlement.status %></td>
      <!-- DONE -->
      <td>
        <% if entitlement.shutoff? %>
        <%= entitlement.shutoff.in_time_zone("Eastern Time (US & Canada)").strftime("%H:%M") %>
        <% end %>
      </td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_entitlement_path(entitlement), :class => 'btn btn-mini' %>
        
	<!-- AWS KEY REQUIRED -->
	<%# if @instance.status.to_s == "stopped" %>
	<!-- TESTING - NO KEY -->
	<% if entitlement.status == "stopped" %>
	<!-- DONE -->
        <%= link_to "Start", 
	    {controller: "entitlements", action: "admin_start", id: entitlement.id},
	    class: "btn btn-mini btn-success" %>
	
	<% else %>
	<%= link_to "Stop", 
	    {controller: "entitlements", action: "admin_stop", id: entitlement.id}, 
	    class: "btn btn-mini btn-warning" %>                                           
        <%= link_to "Reboot", 
	    {controller: "entitlements", action: "reboot", id: entitlement.id}, 
	    class: "btn btn-mini btn-warning" %>
	<% end %>                                  
        
	<%= link_to "Destory", 
	    {controller: "entitlements", action: "admin_destroy", id: entitlement.id}, 
	    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
	               :default => 'Are you sure?')) }, 
	    class: "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<dl class="dl-horizontal">
  <dt><strong>Runtime Limit:</strong></dt>
  <dd>
    <%= current_user.account.minutes / 60 %>:<%= sprintf("%.2d",
		current_user.account.minutes % 60) %>
  </dd>
  <dt><strong>Instance Limit:</strong></dt>
  <dd><%= @account.instance_limit %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              accounts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("Edit Account")),
              edit_account_path(@account), :class => 'btn' %>
</div>

